<div class="exchange-form">
    <div class="container">
        <div class="exchange-form__content">
            <div class="exchange-form__subject">
                <div class="exchange-form__heading heading heading--h3">Отдаю</div>
                <div class="exchange-form__search input-wrapper">
                    <span class="input__icon iconify" data-icon="ant-design:search-outlined"></span>
                    <input type="text" class="exchange-form__search--subject input input__addon js-search-subject" placeholder="Валюта для обмена" />
                </div>
                <div class="exchange-form__list currency-list currency-list--subject">
                    
                </div>
                <button class="exchange-form__btn btn btn--secondary btn--sm">Показать еще</button>
            </div>
            <div class="exchange-form__object">
                <div class="exchange-form__heading heading heading--h3">Получаю</div>
                <div class="exchange-form__search input-wrapper">
                    <span class="input__icon iconify" data-icon="ant-design:search-outlined"></span>
                    <input type="text" class="exchange-form__search--object  input input__addon js-search-object" placeholder="Валюта для получения" />
                </div>
                <div class="exchange-form__list currency-list currency-list--object">
                    
                </div>
            </div>
        </div>
    </div>
</div>