<div class="app__navigation-m navigation-m">
    <div class="navigation-m__header">
        <div class="heading heading--h4">Меню</div>
        <div class="navigation-m__close"><span class="iconify" data-icon="ant-design:close-outlined"></span></div>
    </div>
    <div class="navigation-m__content">
        <nav class="navigation-m__menu menu">
            <a href="#" class="menu__item link link--primary">Главная</a>
            <a href="#" class="menu__item link link--primary">Обмен</a>
            <a href="#" class="menu__item link link--primary">Особенности</a>
            <a href="#" class="menu__item link link--primary">Отзывы</a>
        </nav>
    </div>
    <div class="navigation-m__footer">
        <div class="account">
            <a href="/sign-in.html" class="account__item link"><span class="link__icon link__icon--left iconify" data-icon="fluent:arrow-enter-20-filled"></span> Вход</a>
            <a href="/sign-up.html" class="account__item link"><span class="link__icon link__icon--left iconify" data-icon="ant-design:user-add-outlined"></span> Регистрация</a>
        </div>
    </div>
</div>