<div class="navigation">
    <div class="navigation__container">
        <div class="container">
            <div class="navigation__header">
                <div class="navigation__info">
                    <div class="socials">
                        <a href="#" class="socials__item link"><span class="socials__icon iconify" data-icon="bxl:telegram"></span></a>
                        <a href="#" class="socials__item link"><span class="socials__icon iconify" data-icon="bxl:facebook"></span></a>
                        <a href="#" class="socials__item link"><span class="socials__icon iconify" data-icon="akar-icons:youtube-fill"></span></a>
                    </div>
                    <div class="navigation__divider"></div>
                    <div class="dropdown">
                        <a href="#" class="dropdown-control dropdown-link link">RU <span class="dropdown-link__icon link__icon link__icon--xs link__icon--right iconify" data-icon="bxs:chevron-down"></span></a>
                        <div class="dropdown__content">
                            <a href="#" class="dropdown__item link">Українська</a>
                            <a href="#" class="dropdown__item link">English</a>
                            <a href="#" class="dropdown__item link">Русский</a>
                        </div>
                    </div>
                </div>
                <div class="navigation__account account">
                    <a href="sign-in.html" class="account__item link"><span class="link__icon link__icon--left iconify" data-icon="fluent:arrow-enter-20-filled"></span> Вход</a>
                    <a href="sign-up.html" class="account__item link"><span class="link__icon link__icon--left iconify" data-icon="ant-design:user-add-outlined"></span> Регистрация</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="navigation__content">
            <a href="/" class="navigation__logo logo"><img src="./images/logo.svg" alt="" class="logo__image"> <span class="logo__name">МОНЕТООБМЕННИК</span></a>
            <nav class="navigation__menu menu">
                <a href="/" class="menu__item link link--primary">Главная</a>
                <a href="#exchange" class="menu__item link link--primary">Обмен</a>
                <a href="#features" class="menu__item link link--primary">Особенности</a>
                <a href="#testimonials" class="menu__item link link--primary">Отзывы</a>
            </nav>
            <span class="navigation__burger icon-burger"></span>   
        </div>
    </div>
</div>